{{#if pages}}
    <nav class="pagination" role="navigation" data-pages="{{pages}}">
        <div class="pagination-links">
            {{#if prev}}
                <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
            {{/if}}
            {{#if next}}
                <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
            {{/if}}
        </div>
        <span class="page-number">Page {{page}} of {{pages}}</span>
    </nav>

    {{#contentFor "scripts"}}
    <script>
    $(function() {
        var newerPost = document.getElementsByClassName('newer-posts');
        var url = '/blog';
        for (i = 0; i < newerPost.length; i++) {
            if (newerPost[i].getAttribute('href') === '/') {
                newerPost[i].setAttribute('href', url);
            }
        }
    });
    </script>
    {{/contentFor}}
{{/if}}