<article class="post-card {{post_class}} no-image {{#unless feature_image}} no-image{{/unless}}">
    <header class="post-card-header">
        <span class="post-card-published-date">{{date published_at format="DD MMMM YYYY"}}</span>
        <h2>
            <a class="post-card-content-link" href="{{url}}">{{title}}</a>
        </h2>
    </header>
    {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
        </a>
    {{/if}}
    <div class="post-card-content">
        <section class="post-card-excerpt">
            <p><a href="{{url}}">{{excerpt words="33"}}</a></p>
        </section>
        <footer class="post-card-meta">
            <span class="post-card-author">
                {{#if author.profile_image}}
                    <img class="author-profile-image" src="{{author.profile_image}}" alt="{{author.name}}" />
                {{/if}}
                {{author}}
            </span>
            {{#if tags}}
                <span class="post-card-tags">
                    <span class="post-card-tags-separator">—</span>
                    {{tags}}
                </span>
            {{/if}}
        </footer>
    </div>
</article>
