<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="site-footer-company-info">
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
                </a>
            {{/if}}

            <address>
                1 Coleman Street<br />
                #01-06 The Adelphi<br />
                Singapore (179803)
            </address>

            <nav>
                {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" class="fa fa-twitter-square" target="_blank" rel="noopener"></a>{{/if}}
                {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" class="fa fa-facebook-square" target="_blank" rel="noopener"></a>{{/if}}
                <a href="https://www.linkedin.com/company/black-tangent-pte-ltd" class="fa fa-linkedin-square" target="_blank" rel="noopener"></a>
                <a href="https://github.com/blacktangent/" class="fa fa-github" target="_blank" rel="noopener"></a>
                <a href="mailto:hello@blacktangent.io" class="fa fa-envelope-square"></a>
            </nav>
        </section>
        <nav class="site-footer-nav">
            <section class="site-footer-nav-item">
                <h6>Products</h6>
                <ul>
                    <li><a href="/products/kojiki">Kojiki</a></li>
                </ul>
            </section>
            <section class="site-footer-nav-item">
                <h6>Case Studies</h6>
                <ul>
                    <li><a href="/case-studies/track">TRACK</a></li>
                    <li><a href="/case-studies/kvantel">Kvantel</a></li>
                    <li><a href="/case-studies/proximo">Proximo</a></li>
                    <li><a href="/case-studies/fiber-norway">Fiber Norway</a></li>
                    <li><a href="/case-studies/nextgen-tel">NextGen Tel</a></li>
                </ul>
            </section>
            <section class="site-footer-nav-item">
                <h6>Services</h6>
                <ul>
                    <li><a href="/services/software-development">Software Development</a></li>
                    <li><a href="/services/devops">DevOps</a></li>
                    <li><a href="/services/analytics">Analytics</a></li>
                </ul>
            </section>
            <section class="site-footer-nav-item">
                <h6>Company</h6>
                <ul>
                    <li><a href="/playbook/">Playbook</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/hire-us">Hire Us</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/careers">Careers</a></li>
                </ul>
            </section>
            <!--
            <section class="site-footer-nav-item">
                <h6>Contact Us</h6>
                <ul>
                    <li><a href="mailto:hello@blacktangent.io">hello@blacktangent.io</a></li>
                    {{#if @blog.twitter}}<li><a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a></li>{{/if}}
                    {{#if @blog.facebook}}<li><a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a></li>{{/if}}
                    <li><a href="https://github.com/blacktangent/" rel="noopener">GitHub</a></li>
                </ul>
            </section>
            -->
        </nav>
    </div>
    <section class="copyright">
        &copy; {{date format="YYYY"}}
        <a href="{{@blog.url}}">{{@blog.title}}</a>.
        All Rights Reserved.
    </section>
</footer>