<nav id="js-site-nav" class="site-nav">
    <div class="site-nav-left">
        {{#if @blog.logo}}
            <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{else}}
            <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
        {{/if}}

        <div class="site-nav-mobile">
            <button class="site-nav-open">
                <span class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                Menu
            </button>

            <nav>
                {{#if @blog.navigation}}
                    {{navigation}}
                {{/if}}
                <button class="site-nav-close">
                    <span class="icon">
                        <span></span>
                        <span></span>
                    </span>
                </button>
            </nav>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
        <!--
        <div class="social-links">
            {{#if @blog.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @blog.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
        -->
    </div>
</nav>
