{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<header class="site-header outer no-cover">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>
{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{@blog.title}}
            </h1>
            {{#if @blog.description}}
            <h2 class="site-description">{{@blog.description}}</h2>
            {{/if}}
            <a href="/" class="button">Link to section</a>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <header class="home-header-content">
            <h1>Main content title</h1>
            <p>A short introduction about us, what we do, how we bring value to our clients, etc, etc</p>
        </header>

        <div class="post-feed">
            <section class="row">
                <article class="col">
                    <img class="featured-icon" src="{{asset "products.png"}}">
                    <h2>Products</h3>
                    <p>Short description about our product, and how it bring values</p>
                    <a href="/products" class="button">Link to section</a>
                </article>
                <article class="col">
                    <img class="featured-icon" src="{{asset "case-studies.png"}}">
                    <h2>Case Studies</h3>
                    <p>A brief introduction on some of the work done by us, how we bring value to our clients and they success with our help.</p>
                    <a href="/case-studies" class="button">Link to section</a>
                </article>
                <article class="col">
                    <img class="featured-icon" src="{{asset "services.png"}}">
                    <h2>Services</h2>
                    <p>Talk about our professional services we provides, our professional team have extensive technical knowledge in building enterprise quality softwares.</p>
                    <a href="/services" class="button">Link to section</a>
                </article>
            </section>
        </div>
    </div>
</main>