{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        {{#post}}
            <div class="site-header-content">
                <h1 class="site-title">{{title}}</h1>
                {{#if excerpt}}
                    <h2 class="site-description">{{excerpt}}</h2>
                {{/if}}
            </div>
        {{/post}}

        <div class="post-feed">
            {{#get "posts" include="tags,author" limit='25' as |articles pages|}}
                {{#foreach articles}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
                {{pagination}}
            {{/get}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
<script>
$(function() {
    var olderPost = $('.older-posts');
    var url = '/page/2';
    if (olderPost.attr('href') === '') {
        olderPost.attr('href', url);
    }
});
</script>
{{/contentFor}}