/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
    6.1. Pagination
7.  Single Post
  7.1. Post Footer
  7.2. Comments
  7.3. Related Posts
  7.4. Floating Header
8. Page Template
  8.1. Home Template
9.  Author Template
10. Error Template
11. Subscribe Overlay
12. Site Footer
13. Forms
  13.1. Subscribe Form

*/


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";

body {
    background: #ffffff;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main {
    z-index: 100;
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vw;
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

/* Usage:

<div class="outer">
    <div class="inner">
        Centered content
    </div>
</div>

*/

.row {
    display: flex;
}

.col {
    flex: 1;
    margin: 0 2vw;
}

@media (max-width: 600px){
    .row { display: block; }
    .col { margin: 0 4vw; }
}

/* 3. Special Template Styles
/* ---------------------------------------------------------- */


/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background: var(--darkgrey) no-repeat center center;
    background-size: cover;
}

.site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 4vw;
    min-height: 150px;
    max-height: 450px;
    text-align: center;
}

.site-title {
    z-index: 10;
    font-size: 4rem;
    padding: 0;
}

.site-logo {
    max-height: 45px;
}

.site-description {
    z-index: 10;
    margin: 16px;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

@media (max-width: 500px) {
    .site-title {
        font-size: 3rem;
    }
    .site-description {
        font-size: 1.8rem;
    }
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */

.site-nav {
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 36px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    position: relative;
}

.site-nav-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
    letter-spacing: 0.4px;
}

.site-nav-logo {
    flex-shrink: 0;
    display: inline-block;
    margin-right: 24px;
    padding: 0;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.site-nav-logo:hover {
    text-decoration: none;
}

.site-nav-logo img {
    display: block;
    width: auto;
    max-height: 36px;
}

.site-nav-mobile { display: none; }

.site-nav-open {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 24px;
    background: transparent;
    outline: none;
    border: 0;
    text-transform: uppercase;
    padding: 0;
    font-size: 18px;
    display: flex;
}

.site-nav-open .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.site-nav-open .icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

.site-nav-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 1;
    border: 0;
    outline: 0;
    background: transparent;
}

.site-nav-close .icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    right: 14px;
    transform: rotate(45deg);
}
.site-nav-close .icon span {
    position: absolute;
    background-color: var(--darkblue);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.site-nav-close .icon span:first-child {
    height: 2px;
    width: 100%;
}
.site-nav-close .icon span:last-child {
    height: 100%;
    width: 2px;
}
.site-nav-close:hover .icon span {
    background-color: var(--blue);
}

.site-nav-mobile nav {
    transform: scale(.8) translate(40px, -20px);
    opacity: 0;
    transition: .2s;
    transition-property: transform, opacity;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: 0 50px 100px rgba(27, 28, 42,.1), 0 15px 35px rgba(27, 28, 42,.15), 0 5px 15px rgba(0,0,0,.1);
    padding: 16px 24px;
    border-radius: 8px;
}
.site-nav-mobile.open nav {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.site-nav-mobile nav .nav {
    flex-direction: column;
}
.site-nav-mobile nav li a {
    letter-spacing: 0;
    font-size: 18px;
    color: var(--darkblue);
    margin: 4px 0;
}
.site-nav-mobile nav li a:active,
.site-nav-mobile nav li a:focus,
.site-nav-mobile nav li a:hover {
    color: var(--blue);
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: block;
    margin: 0;
    padding: 0;
}

.nav li a {
    display: block;
    margin: 0;
    padding: 10px 8px;
    color: #fff;
    opacity: 0.8;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1;
}

@media (max-width: 600px) {
    .site-nav-right { display: none; }
    .site-nav-mobile { display: block; }
}


/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    padding: 0;
}

.post-card {
    overflow: hidden;
    padding: 0 24px;
    margin: 0 auto 40px;
    max-width: 800px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-card-image-link {
    flex: 1 1 100%;
    max-width: 308px;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1.6rem;
}

@media (max-width: 600px) {
    .post-card-image-link {
        max-width: unset;
    }
}

.post-card-image {
    margin-right: 16px;
    width: auto;
    padding-top: 56.25%;
    background: var(--lightgrey) no-repeat center center;
    background-size: cover;
}

@media (max-width: 600px) {
    .post-card-image { margin-right: 0; }
}

a.post-card-content-link {
    color: var(--darkblue)
}
a.post-card-content-link:hover {
    color: var(--blue);
}

.post-card-content-link:hover {
    text-decoration: none;
}

.post-card-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.post-card-tags {
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .post-card-tags {
        margin-top: 8px;
        width: 100%;
    }
    .post-card-tags-separator { display: none; }
}

.post-card-content {
    flex: 1;
    margin-bottom: 1.6rem;
}

.author-profile-image {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 100%;

    object-fit: cover;
}

.post-card-author {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.8rem;
    flex-shrink: 0;
}

.post-card-header { width: 100%; }

.post-card-published-date {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--midgrey);
}

.post-card-tags-separator {
    margin-left: 8px;
    margin-right: 16px;
}

/* Adjust some margins for smaller screens */
@media (max-width: 650px) {
    .post-card {
        margin: 0 20px 5vw;
    }
}

.post-card h2 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 1.6rem;
}

.post-card p {
    margin-bottom: 1.6rem;
}

@media (max-width: 600px) {
    .post-card h2 {
        font-size: 2.6rem;
    }
}

.post-card p a { color: var(--darkblue); }
.post-card p a:hover { text-decoration: none; }

/* 6.1. Pagination
/* ---------------------------------------------------------- */

.pagination {
    width: 100%;
    max-width: 640px;
    margin: 32px auto;
    text-align: center;
    position: relative;
}

.pagination[data-pages="1"] { display: none; }

.pagination-links {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 24px;
}

.pagination .page-number {
    width: 100%;
    display: block;
}

.pagination .newer-posts {
    float: left;
}

.pagination .older-posts {
    float: right;
}

@media (max-width: 500px) {
    .pagination-links { position: relative; }
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template .site-main,
.page-template .site-main {
    padding-bottom: 4vw;
    background: #fff;
}

.post-full {
    position: relative;
    z-index: 50;
}
/* ^ Required to make .post-full-content:before/after z-index stacking work */

.post-full-header {
    margin: 0 auto ;
    padding: 6vw 3vw 8vw;
    max-width: 1040px;
    text-align: center;
}
@media (max-width: 500px) {
    .post-full-header {
        padding: 10vw 3vw;
    }
}

.post-full-meta {
    text-align: center;
    color: var(--midgrey);
    font-size: 1.6rem;
    font-weight: 500;
}

.post-full-meta-date {
    color: var(--blue);
}

.post-full-title {
    margin: 16px 0;
    font-size: 4rem;
    color: var(--darkgrey);
}

.post-full-author,
.post-full-author a {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
}

.post-full-author a:hover,
.post-full-author a:focus {
    color: var(--blue);
}

.date-divider {
    display: inline-block;
    margin: 0 6px 1px;
}

.post-full-image {
    margin: 0 -10vw -120px;
    height: 560px;
    background: var(--lightgrey) center center;
    background-size: cover;
    border-radius: 5px;
}

@media (max-width: 1170px) {
    .post-full-image {
        margin: 0 -4vw -64px;
        height: 400px;
        border-radius: 0;
    }
}

.post-full-content {
    position: relative;
    margin: 0 auto;
    padding: 64px 100px 0;
    min-height: 230px;
    font-size: 2rem;
    line-height: 1.6;
    background: #fff;
}

@media (max-width: 1170px) {
    .post-full-content {
        padding: 5vw 7vw 0;
    }
}
@media (max-width: 800px) {
    .post-full-content {
        font-size: 1.6rem;
    }
}

.post-full-content:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39,44,49,0.15);
    filter: blur(5px);
    transform: rotate(-5deg);
}

.post-full-content:after {
    content: "";
    position: absolute;
    top: 15px;
    right: -5px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39,44,49,0.15);
    filter: blur(5px);
    transform: rotate(5deg);
}

.no-image .post-full-content {
    padding-top: 0;
}

.no-image .post-full-content:before,
.no-image .post-full-content:after {
    display: none;
}

.kg-card-markdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 3vw;
    max-width: 680px;
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6,
.post-full-content p,
.post-full-content dl,
.post-full-content ul,
.post-full-content ol,
.post-full-content pre,
.post-full-content blockquote,
.post-full-comments,
.footnotes {
    min-width: 100%;
}

.post-full-content li {
    word-break: break-word;
}

.post-full-content li p {
    margin: 0;
}

.post-full-content a {
    color: var(--blue);
}

.post-full-content a:hover {
    text-decoration: underline;
}

.post-full-content strong,
.post-full-content em {
    color: var(--darkgrey);
}

.post-full-content small {
    display: inline-block;
    line-height: 1.6em;
}

.post-full-content img,
.post-full-content video {
    display: block;
    margin: 1.6rem auto;
    max-width: 1040px;
}
@media (max-width: 1040px) {
    .post-full-content img,
    .post-full-content video {
        width: 100%;
    }
}


/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper

Usage (In Ghost edtior):

![img](/some/image.jpg#full)

*/
.post-full-content img[src$="#full"] {
    max-width: 1024px;
    width: 100vw;
}

/** Float image left/right

<span class="left">
    <img src="/some/image.jpg" alt="image" />
    <br />
    <small>Caption</small>
</span>
*/

.post-full-content span.left img,
.post-full-content span.right img {
    width: 100%;
}

@media (min-width: 600px) {
    .post-full-content span.left {
        max-width: calc(50% - 16px);
        float: left;
        margin-right: 16px;
    }

    .post-full-content span.right {
        max-width: calc(50% - 16px);
        float: right;
        margin-right: 16px;
    }
}

.post-full-content span.left br,
.post-full-content span.right br {
    display: none;
}

.post-full-content span.left small,
.post-full-content span.right small {
    display: block;
    margin-top: -0.8rem;
    margin-bottom: 1.6em;
    max-width: 640px;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    line-height: 2rem;
}


/* Image captions

Usage (In Ghost editor):

![img](/some/image.jpg)
<small>Your image caption</small>

*/

.post-full-content img + br + small {
    display: block;
    margin-top: -2.4rem;
    margin-bottom: 3.2em;
    max-width: 640px;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    line-height: 2rem;
}


.post-full-content iframe {
    margin: 0 auto;
}

.post-full-content blockquote {
    margin: 0 0 1.6em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.post-full-content blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.post-full-content blockquote p:last-child {
    margin-bottom: 0;
}

.post-full-content code {
    padding: 0 5px;
    font-size: 1em;
    line-height: inherit;
    font-weight: 400!important;
    background: var(--whitegrey);
    border-radius: 3px;
}

.post-full-content pre {
    overflow-x: auto;
    margin: 0 0 3.2em;
    padding: 20px;
    max-width: 80vw;
    border: color(var(--darkgrey) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkgrey) l(-3%));
    border-radius: 5px;
}

.post-full-content pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.post-full-content pre code * {
    color: inherit;
}

.post-full-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-full-content hr {
    margin: 4vw 0;
}

.post-full-content hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: color(var(--lightgrey) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
    color: color(var(--darkgrey) l(-5%));
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 1.6rem;
}

.post-full-content h1 {
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 4.8rem;
}
@media (max-width: 500px) {
    .post-full-content h1 {
        font-size: 2.8rem;
    }
}

.post-full-content h2 {
    font-size: 3.2rem;
    line-height: 1.125;
    font-weight: 400;
}
@media (max-width: 500px) {
    .post-full-content h2 {
        font-size: 2.4rem;
    }
}

.post-full-content h3 {
    font-size: 2.6rem;
    font-weight: 400;
}
@media (max-width: 500px) {
    .post-full-content h3 {
        font-size: 2rem;
    }
}

.post-full-content h4 {
    font-size: 2.2rem;
    font-weight: 400;
}
@media (max-width: 500px) {
    .post-full-content h4 {
        font-size: 1.8rem;
    }
}

.post-full-content h5 {
    display: block;
    font-size: 2rem;
}
@media (max-width: 500px) {
    .post-full-content h5 {
        font-size: 1.6rem;
    }
}

.post-full-content h6 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}
@media (max-width: 500px) {
    .post-full-content h6 {
        font-size: 1.6rem;
    }
}

.post-full-content p + h1,
.post-full-content p + h2,
.post-full-content p + h3,
.post-full-content p + h4,
.post-full-content p + h5,
.post-full-content p + h6,
.post-full-content ul + h1,
.post-full-content ul + h2,
.post-full-content ul + h3,
.post-full-content ul + h4,
.post-full-content ul + h5,
.post-full-content ul + h6,
.post-full-content ol + h1,
.post-full-content ol + h2,
.post-full-content ol + h3,
.post-full-content ol + h4,
.post-full-content ol + h5,
.post-full-content ol + h6 {
    margin-top: 1.6rem;
}

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color: var(--blue) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Some grouped styles for smaller viewports */
@media (max-width: 500px) {
    .post-full-meta {
        font-size: 1.2rem;
        line-height: 1.3em;
    }
    .post-full-title {
        font-size: 3.6rem;
    }
    .post-full-image {
        margin-bottom: 4vw;
        height: 280px;
    }
    .post-full-content {
        padding: 0;
    }
    .post-full-content:before,
    .post-full-content:after {
        display: none;
    }
}

/* Tables */
.post-full-content table {
    display: inline-block;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
}

.post-full-content table {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.post-full-content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-full-content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-full-content table th {
    color: var(--darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color(var(--whitegrey) l(+4%));
}

.post-full-content table th,
.post-full-content table td {
    padding: 6px 12px;
    border: color(var(--whitegrey) l(-1%) s(-5%)) 1px solid;
}

/* 7.1. Post Footer
/* ---------------------------------------------------------- */

.post-full-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3vw 0 6vw 0;
    max-width: 640px;
}

.author-card {
    display: flex;
}

.author-card .author-profile-image {
    margin-right: 8px;
    width: 48px;
    height: 48px;
}

.author-card-name {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 2rem;
}

.author-card-name a {
    color: var(--darkblue);
    font-weight: 500;
}

.author-card-name a:hover {
    text-decoration: none;
}

.author-card-content p {
    margin: 0;
    color: var(--midgrey);
    font-size: 0.8em;
    line-height: 1.5em;
}

.post-full-footer-right {
    flex-shrink: 0;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .post-full-footer-right {
        margin-left: 16px;
        margin-top: 16px;
    }
}

.author-card-button {
    display: block;
    padding: 9px 16px;
    border: color(var(--midgrey) l(+20%)) 1px solid;
    color: var(--midgrey);
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    border-radius: 20px;
    transition: all ease 0.2s;
}

.author-card-button:hover {
    border-color: var(--blue);
    color: var(--blue);
    text-decoration: none;
}


/* 7.2. Comments
/* ---------------------------------------------------------- */

.post-full-comments {
    margin: 0 auto;
    max-width: 640px;
}


/* 7.3. Related posts
/* ---------------------------------------------------------- */

.read-next-feed {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0 0;
}

.read-next-card {
    position: relative;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    padding: 25px;
    color: #fff;
    background: var(--darkgrey) center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
}

.read-next-card:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(135deg, rgba(0,40,60,0.8) 0%,rgba(0,20,40,0.7) 100%);
    border-radius: 5px;

    backdrop-filter: blur(2px);
}

.read-next-card-header {
    position: relative;
    z-index: 50;
    padding-top: 20px;
    text-align: center;
}

.read-next-card-header-sitetitle {
    display: block;
    font-size: 1.3rem;
    line-height: 1.3em;
    opacity: 0.8;
}

.read-next-card-header-title {
    margin: 0;
    padding: 0 20px;
    color: #fff;
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.read-next-card-header-title a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.read-next-card-header-title a:hover {
    text-decoration: none;
}

.read-next-divider {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
}

.read-next-divider svg {
    width: 40px;
    fill: transparent;
    stroke: #fff;

    stroke-width: 0.5px;
    stroke-opacity: 0.65;
}

.read-next-card-content {
    position: relative;
    z-index: 50;
    flex-grow: 1;
    display: flex;
    font-size: 1.7rem;
}

.read-next-card-content ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

.read-next-card-content li {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 200;
    letter-spacing: -0.5px;
}

.read-next-card-content li a {
    display: block;
    padding: 20px 0;
    border-bottom: rgba(255,255,255,0.3) 1px solid;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    transition: opacity 0.3s ease;
}

.read-next-card-content li:first-of-type a {
    padding-top: 10px;
}

.read-next-card-content li a:hover {
    opacity: 1;
}

.read-next-card-footer {
    position: relative;
    margin: 15px 0 3px 0;
    text-align: center;
}

.read-next-card-footer a {
    color: #fff;
}


/* 7.4. Floating Header
/* ---------------------------------------------------------- */

.floating-header {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: rgba(0,0,0,0.06) 1px solid;
    background: rgba(255,255,255,0.95);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, -120%, 0);
}

.floating-active {
    visibility: visible;
    transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
    transform: translate3d(0, 0, 0);
}

.floating-header-logo {
    overflow: hidden;
    margin: 0 0 0 20px;
    font-size: 1.6rem;
    line-height: 1em;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-logo a {
    display: flex;
    align-items: center;
    color: var(--darkgrey);
    line-height: 1.1em;
    font-weight: 500;
}

.floating-header-logo a:hover {
    text-decoration: none;
}

.floating-header-logo img {
    margin: 0 10px 0 0;
    max-height: 20px;
}

.floating-header-divider {
    margin: 0 5px;
    line-height: 1em;
}

.floating-header-title {
    flex: 1;
    overflow: hidden;
    margin: 0;
    color: #2e2e2e;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    font-size: 1.3rem;
    line-height: 1;
}

.floating-header-share a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-header-share svg {
    width: auto;
    height: 16px;
    fill: #fff;
}

.floating-header-share-label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
}

.floating-header-share-label svg {
    margin: 0 5px 0 10px;
    width: 18px;
    height: 18px;
    stroke: rgba(0,0,0,0.7);
    transform: rotate(90deg);
}

.floating-header-share-tw,
.floating-header-share-fb {
    display: block;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.floating-header-share-tw {
    background: #33b1ff;
}

.floating-header-share-fb {
    background: #005e99;
}

.progress {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    color: var(--blue);
    background: transparent;

    appearance: none;
}

.progress::-webkit-progress-bar {
    background-color: transparent;
}

.progress::-webkit-progress-value {
    background-color: var(--blue);
}

.progress::-moz-progress-bar {
    background-color: var(--blue);
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.progress-bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: var(--blue);
}

@media (max-width: 900px) {
    .floating-header {
        height: 40px;
    }
    .floating-header-title,
    .floating-header-logo {
        font-size: 1.5rem;
    }
    .floating-header-share-tw,
    .floating-header-share-fb {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}

@media (max-width: 800px) {
    .floating-header-logo {
        margin-left: 10px;
    }
    .floating-header-logo a {
        color: #2e2e2e;
    }
    .floating-header-title,
    .floating-header-divider {
        visibility: hidden;
    }
}

@media (max-width: 450px) {
    .floating-header-share-label {
        display: none;
    }
}

/* 8. Page Template
/* ---------------------------------------------------------- */


/* 8.1. Home Template
/* ---------------------------------------------------------- */

.home-template .site-header-content {
    min-height: 65vh;
}

.home-template .site-footer {
    margin-top: 0;
}

.home-template .home-header-content {
    text-align: center;
    margin-bottom: 4vw;
}

.home-template .site-main {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.featured-icon {
    display: block;
    max-width: 50%;
    margin: 0 auto 24px;
}

/* 9. Author Template
/* ---------------------------------------------------------- */

.site-header-content .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin: 0 0 16px 0;
    width: 80px;
    height: 80px;
    box-shadow: rgba(255,255,255,0.1) 0 0 0 4px;
}

.site-header-content .author-bio {
    z-index: 10;
    flex-shrink: 0;
    max-width: 600px;
    font-weight: 300;
    opacity: 0.8;
}

.site-header-content .author-meta {
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-style: italic;
}

.site-header-content .author-location svg {
    height: 1.9rem;
    stroke: #fff;
}

.site-header-content .bull {
    display: inline-block;
    margin: 0 12px;
    opacity: 0.5;
}

.site-header-content .social-link:first-of-type {
    padding-left: 4px;
}

@media (max-width: 500px) {
    .site-header-content .author-bio {
        font-size: 1.8rem;
        line-height: 1.15em;
        letter-spacing: 0;
    }
    .author-location,
    .author-stats {
        display: none;
    }
}


/* 10. Error Template
/* ---------------------------------------------------------- */

.error-template .site-main {
    padding: 7vw 4vw;
}

.site-nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.site-nav-center .site-nav-logo {
    margin-right: 0;
}

.error-message {
    text-align: center;
}

.error-code {
    margin: 0;
    font-size: 12vw;
    line-height: 1em;
    letter-spacing: -5px;
    opacity: 0.3;
}

.error-description {
    margin: 0;
    color: var(--midgrey);
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 400;
}

@media (max-width: 800px) {
    .error-description {
        margin: 5px 0 0 0;
        font-size: 1.8rem;
    }
}

.error-link {
    display: inline-block;
    margin-top: 5px;
}

.error-template .post-feed {
    padding-top: 0;
}


/* 11. Subscribe Overlay
/* ---------------------------------------------------------- */

.subscribe-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,25,40,0.97);
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;

    backdrop-filter: blur(3px);
}

.subscribe-overlay:target {
    opacity: 1;
    pointer-events: auto;
}

.subscribe-overlay-content {
    position: relative;
    z-index: 9999;
    margin: 0 0 5vw 0;
    padding: 4vw;
    color: #fff;
    text-align: center;
}

.subscribe-overlay-logo {
    position: fixed;
    top: 23px;
    left: 30px;
    height: 30px;
}

.subscribe-overlay-title {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 6rem;
    line-height: 1.15em;
}

.subscribe-overlay-description {
    margin: 0 auto 50px;
    max-width: 650px;
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 300;
    opacity: 0.8;
}

.subscribe-overlay form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
}

.subscribe-overlay .form-group {
    flex-grow: 1;
}

.subscribe-overlay .subscribe-email {
    display: block;
    padding: 14px 20px;
    width: 100%;
    border: none;
    color: var(--midgrey);
    font-size: 2rem;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0.5px;
    user-select: text;
    border-radius: 8px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color(var(--lightgrey) l(-2%));
}

.subscribe-overlay button {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0 25px;
    height: 52px;
    outline: none;
    color: #fff;
    font-size: 1.7rem;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    background: linear-gradient(
    color(var(--blue) whiteness(+7%)),
    color(var(--blue) lightness(-7%) saturation(-10%)) 60%,
    color(var(--blue) lightness(-7%) saturation(-10%)) 90%,
    color(var(--blue) lightness(-4%) saturation(-10%))
    );
    border-radius: 8px;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.subscribe-overlay-close:before {
    content: "";
    position: absolute;
    top: 40px;
    right: 25px;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(45deg);
}

.subscribe-overlay-close:after {
    content: "";
    position: absolute;
    top: 40px;
    right: 25px;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(-45deg);
}

.subscribe-overlay-close:hover {
    cursor: default;
}


/* 12. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    position: relative;
    margin-top: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    color: #fff;
    background: var(--darkgrey);
    color: var(--white);
    font-size: 1.3rem;
}

.site-footer a {
    color: var(--lightgrey);
}

.site-footer-content {
    display: flex;
    justify-content: center;
}

.site-footer-content a:hover {
    color: var(--lightblue);
    text-decoration: none;
}

.site-footer-company-info {
    min-width: 250px;
    flex-shrink: 0;
    padding-right: 32px;
}

.site-footer-company-info .fa {
    font-size: 1.75em;
    margin-right: 6px;
}

.site-footer-company-info address {
    font-size: 16px;
    line-height: 1.25;
    margin: 8px 0 16px;
}

.site-footer-company-info img {
    max-height: 40px;
}

.site-footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.site-footer-nav-item {
    margin-right: 24px;
    margin-bottom: 36px;
    line-height: 2rem;
}

@media (max-width: 500px) {
    .site-footer-nav {
        justify-content: center;
    }
    .site-footer-nav-item {
        width: calc(40vw - 24px);
    }
    .site-footer-nav-item:nth-child(even) {
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    .site-footer-company-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 0;
        margin-bottom: 36px;
    }
    .site-footer-nav { flex-wrap: wrap; }
    .site-footer-company-info address {
        font-size: 16px;
        margin: 12px 0;
    }
    .site-footer-company-info address br {
        display: none;
    }
    .site-footer-content {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.site-footer-nav-item h6 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 0 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.site-footer-nav-item ul {
    list-style: none;
    padding: 0;
}

.site-footer-nav-item li,
.site-footer-nav-item li a {
    padding: 0;
    margin: 0;
}

.site-footer-nav-item li {
    line-height: 1.25;
    margin-bottom: 0.4rem;
}

.copyright {
    margin-top: 36px;
    text-align: center;
}

/* 13. Form
/* ---------------------------------------------------------- */

.form {
    margin: 24px auto;
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {}

.form-group .input {
    display: block;
    padding: 10px;
    width: 100%;
    border: var(--lightgrey) 1px solid;
    color: var(--darkblue);
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 0;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.form-group .input:focus {
    outline: 0;
    border-color: var(--blue);
}

.button {
    display: inline-block;
    margin: 0;
    padding: 12px 20px;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    background: var(--blue);
    border-radius: 0;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

    -webkit-font-smoothing: subpixel-antialiased;
}

.button:active,
.button:focus,
.button:hover {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

.button.button-secondary {
    color: var(--darkblue);
    background: var(--white);
    box-shadow: none;
}

.button.button-secondary:active,
.button.button-secondary:focus,
.button.button-secondary:hover {
    text-decoration: underline;
    color: var(--blue);
    background: var(--white);
}

.button + .button {
    margin-left: 16px;
}

@media (max-width: 500px) {
    .form .button { width: 100%; }
    .button + .button { margin-left: 0; }
}

/* 13.1. Subscribe Form
/* ---------------------------------------------------------- */

.subscribe-form {
    margin: 1.5em -4vw;
    padding: 6.5vw 7vw 7vw;
    border: color(var(--whitegrey) l(+2%)) 1px solid;
    text-align: center;
    background: color(var(--whitegrey) l(+4%));
}

.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: var(--darkgrey);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 400;
}

.subscribe-form p {
    margin-bottom: 1em;
    color: var(--midgrey);
    font-size: 2.2rem;
    line-height: 1.55em;
    letter-spacing: 0.2px;
}

.subscribe-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 420px;
}

.subscribe-form .form-group {
    flex-grow: 1;
    margin-bottom: 0;
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    height: 40px;  /* force the input to horizontally align with button */
    border: var(--lightgrey) 1px solid;
    color: var(--darkblue);
    font-size: 1.8rem;
    line-height: 1;
    font-weight: normal;
    user-select: text;
    border-radius: 0;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: var(--blue);
}

.subscribe-form button {
    display: inline-block;
    margin: 0;
    padding: 11px 20px;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.125;
    height: 40px; /* force the button to horizontally align with input */
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    background: var(--blue);
    border-radius: 0;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus,
.subscribe-form button:hover {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }
    .subscribe-form p {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }
    .subscribe-form .form-group {
        width: 100%;
    }
    .subscribe-form button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}
